body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  width: 100%;
  height:80vh;
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}
.home-desription{
  width: 40%;
  text-align: center;
}
.home-img{
  width: 60%;
  margin-right: 15px;
  background-image: url("img/pokemon-scarlet-and-violet-closer-look-at-the-paldea-region.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
}
